@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* common style */

body {
    font-family: 'Inconsolata', monospace;
    background-color: rgb(45, 112, 166);
}



/* first part styles  */



.first-part {
    display: flex;
    background-color: rgb(196, 227, 255);
    width: 1370px;
    justify-content: center;
    margin-left: 150px;
    border-radius: 24px;

}

.first-part:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(196, 24, 24);
}

.section-one {
    padding-right: 80px;
}

.section-one h2 {
    font-size: 58px;
    padding-left: 30px;
}

.section-one p {
    font-size: 28px;
    padding-left: 30px;
}



.section-one button {
    margin: 30px;
    height: 50px;
    font-size: 18px;
    width: 150px;
}

.section-one button span {
    color: rgb(222, 43, 46);
}



.section-two {
    padding-left: 10px;
}


/* second part styles */

.second-part {

    display: flex;
    margin-top: 40px;

}

.match-details {
    display: grid;
    background-color: rgb(196, 227, 255);
    margin-left: 150px;
    margin-right: 5px;
    border-radius: 10px;
}

.details {
    margin: 15px 15px 15px 15px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    border: transparent;
}



.match-preview {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.match-content {
    background-color: white;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    padding: 67px 67px 67px 67px;
    border-radius: 10px;
}

.match-content-3 {
    display: flex;


}



/* footer styles */



.footer {
    background-color: rgb(196, 227, 255);
    width: 100%;

}



.footer-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 40px;
}

.footer-text {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 22px;
    gap: 2em;
}

.social-icon {
    gap: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}







/* Mobile view */

@media only screen and (max-width:688px) {

    .footer {
        background-color: #fff;
        width: 100%;
    }



    .footer-title {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .footer-text {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 20px;

    }

    .social-icon {
        gap: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 30px;
    }
}


/* Tablet view */

@media only screen and (min-width:688px) and (max-width:992px) {


    .footer-text {
        gap: 2rem;

    }
}